@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Poppins:wght@300;500;600;700&display=swap');

:root {
    --bg-black-900: #f2f2fc;
    --bg-black-100: #fdf9ff;
    --bg-black-50: #e8dfec;
    --text-black-900: #302e4d;
    --text-black-700: #504e70;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    outline: none;
    scroll-behavior: smooth;
}

body {
    text-decoration: none;
    line-height: 1.5;
    font-size: 16px;
}

section {
    /* position: fixed; */
    position: relative;
    left: 273px;
    top: 0;
    background: var(--bg-black-100);
    display: block;
    right: 0;
    min-height: 100vh;
    width: 85%;


}


.aside {
    background: var(--bg-black-900);
    height: 100%;
    width: 273px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 10;
}

.aside .logo {
    position: absolute;
    left: 40px;
    top: 50px;
}

.aside .logo a {
    text-decoration: none;
    color: blueviolet;


}

.aside .logo a span {
    font-family: 'Dancing Script', cursive;
    font-size: 2.2em;
    font-weight: 700;
    position: relative;
}

.aside .logo a span::before {
    content: '';
    position: absolute;
    bottom: -20px;
    left: -24px;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid orangered;
    border-left: 5px solid orangered;
    border-radius: 5px;
}


.aside .logo a span::after {
    content: '';
    position: absolute;
    top: -16px;
    right: -25px;
    width: 20px;
    height: 20px;
    border-top: 5px solid orangered;
    border-right: 5px solid orangered;
    border-radius: 5px;
}

.aside .nav-toggle {
    position: absolute;
    top: 10px;
    right: -23%;
    cursor: pointer;
    height: 50px;
    width: 50px;
    background: var(--bg-black-900);
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}

.aside .nav-toggle i {
    font-size: 2.1em;
    color: orangered;

}

.aside ul {
    list-style: none;

}

.aside ul li {
    padding-top: 30px;
}

.aside ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.23em;
    padding: 10px 20px;
    border-bottom: 2px solid var(--bg-black-50);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;


}

.aside ul li a:hover,
.aside ul li .active {
    color: blueviolet;
    transition: .5s;
}

.home {
    padding-left: 40px;
    display: flex;
    justify-content: start;
    align-items: center;

}

.home .home-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home .home-info .home-text {
    flex: 0 0 60%;
    max-width: 60%;
}

.home-text h3 {
    font-size: 2.2em;
    margin-bottom: 1px;
}

.home-text h3 span {
    color: blueviolet;
    font-family: 'Dancing Script', cursive;
    font-size: 1.4em;
    margin-left: 10px;
    text-shadow: 1px 1px 6px blueviolet;
}

.home-text h4 {
    font-size: 1.7em;
    margin-bottom: 3px;
}

.home-text h4 span {
    color: orangered;
    font-size: 1.3em;
    margin-left: 10px;
}

.home-text p {
    width: 80%;
    line-height: 34px;
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 30px;
}

.btn {
    border: 1px solid red;

    text-decoration: none;
    padding: 10px 30px;
    color: black;
    font-size: 1.1em;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.032);
    box-shadow: 5px 3px 10px rgba(0, 0, 0, .5);
}

.btn:hover {
    background: orangered;
    transition: .5s ease-in;
    color: white;

}


.home .home-info .home-img {
    flex: 0 0 40%;
    max-width: 40%;
}


.home .home-info .home-img img {
    height: 400px;
    border-radius: 50px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, .5),
        -5px -6px 20px rgba(0, 0, 0, .5);
    animation: animate 5s linear infinite;

}

@keyframes animate {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(30px);
    }

    100% {
        transform: translateY(0);
    }
}

.about {
    padding-left: 40px;
    padding-right: 20px;
    padding-top: 30px;
    color: var(--text-black-700);
}

.heading {
    text-align: center;
    font-size: 3.4em;
    position: relative;
    color: var(--text-black-700);

}

 .heading::before {

    content: '';
    position: absolute;
    top: 87%;
    height: 6px;
    width: 120px;
    border-radius: 20px;
    background: orangered;
}

 .heading::after {
    content: '';
    position: absolute;
    height: 6px;
    width: 120px;
    border-radius: 20px;
    background: orangered;
    top: 103%;
    left: 40%;
}

.about-con h2 {
    font-size: 2.3em;
}

.about-con h2 span {
    color: orangered;
    text-shadow: 1px 1px 3px rgb(13, 190, 190);
    font-family: 'Dancing Script', cursive;
    font-size: 1.3em;
}

.about-con h3 {
    font-size: 1.5em;

}

.about-con h3 span,
.about-second .form-span {
    color: rgb(13, 190, 190);
    text-shadow: 1px 1px 3px rgb(13, 190, 190);
}

.about-second {
    display: flex;
    margin-top: 50px;
}

.about-second .about-form {
    flex: 0 0 60%;
    max-width: 60%;
}

.about-second .about-form .personal-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10px;
    gap: 30px 40px;
}

.about-second .about-form .personal-info .personal-item {
    border-bottom: 2px solid var(--bg-black-50);
    padding: 10px;
}

.about-second .about-form .personal-info .personal-item p {
    color: black;
    font-size: 1.1em;
}

.about-second .about-form .personal-info .personal-item p span {
    color: var(--text-black-700);
    font-size: .9em;
}
.aboutbtn {
    background: orangered;
    color: white;
    margin-top: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.aboutbtn:hover {
    background: transparent;
    color: black;
}
.about-second .about-progress {
    flex: 0 0 40%;
    max-width: 40%;
    padding-left: 50px;
}

.about-second .about-progress .skill-con{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
    gap: 60px;
}

.about-second .about-progress .skill-con h5{
    font-size: 1.2em;
}

.about-second .about-progress .skill-con .porgress{
    height: 7px;
    width: 100%;
    background: var(--bg-black-50);
    border-radius: 4px;
   position: relative;
}
.about-second .about-progress .skill-con .porgress .progress-in{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 4px;
    background: orangered;
}
.about-second .about-progress .skill-con .porgress .progress-percent{
    position: absolute;
    right: 0;
    top: -30px;
    font-size: 1.3em;
}
.services{
    background: var(--bg-black-100);
    padding-left: 30px;
    color: var(--text-black-700);
   
    
    
}
.services-box{
   
   margin-top: 40px;
}

.services-con{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-right: 200px;
    margin-left: 10%;
    
}
.services-con .services-item{
    height: 340px;
    width: 450px;
    border: 2px solid rgba(0,0,0,.1);
    display: flex;
    justify-content: center;
    align-items:center ;
    background: var(--bg-black-900);
    flex-direction: column;
    border-radius: 16px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 10px 10px 20px var(--bg-black-50);
    cursor: pointer;
}


.services-con .services-item:hover{
    transform: scale(1.03);
    transition: all .4s;
}
.services-con .services-item:hover .icon{
    background: orangered;
    transition: all .4s ease-in;
    color: white;
}
.services-con .services-item .icon{
    font-size: 3.6em;
    color: orangered;
    border: 1px solid red;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.services-con .services-item h3{
    font-size: 1.4em;
    margin-top: 2px;
    margin-bottom: 3px;
    color: rgb(253, 122, 74);
}
.services-con .services-item p{
    margin-top: 2px;
    
}
.projects{
    padding-left: 20px;
}
.projects p{
    color: var(--text-black-700);
    font-size: 1.6em;
    margin-top: 20px;
    
}
.projects .projects-imges{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* margin-top: 80px; */
    gap: 20px;
    
}

.projects .project-box img{
    height: 100%;
    width: 100%;
    border-radius: 20px;
    margin-top:40px;
    cursor: pointer;
    
}
.projects .project-box:hover img{
    transform: scale(1.01);
    transition: all .9s;
}
.contact{
    background: var(--bg-black-100);
}
.problem{
    padding-left: 2%;
    margin-top: 40px;
    width: 100%;
   
}
.problem h2{
    text-align: center;
    color: rgb(230, 67, 8);
    font-size: 2.3em;
    text-shadow: 1px 1px 2px orangered;
}
.problem h4{
    text-align: center;
    font-size: 1.7em;
    color: var(--text-black-900);
    text-shadow: 1px 1px 2px var(--text-black-900);
}

.problem .problem-box{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    margin-top: 3%;
    
}

.problem .problem-box .problem-item{
    width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 220px;
    border: 3px solid orangered;
    background: var(--bg-black-50);
    border-radius: 20px;
    cursor: pointer;
    font-size: 1.3em;
    box-shadow: 7px 9px 2px rgba(0, 0, 0, .2);
   
}
.problem .problem-box .problem-item:hover{
    box-shadow: 7px 9px 2px orangered;
    transition: all .8s;
    transform: scale(1.013);
    border: 1px solid rgba(0, 0, 0, .2);
}
.contact-form {
    margin-top: 30px;
}
.contact-form p{
    text-align: center;
    margin-top: 10px;
    font-size: 1.4em;
    color: var(--text-black-900);
}
.form{
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 30px;
  
}
.input-grid{
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 20px;
  
}
.input-box input{
    width: 100%;
    height: 50px;
    padding-left: 10px;
    font-family: 'poppins', sans-serif;
    border-radius: 15px;
    border: none;
    background: rgb(222, 221, 228);
    color: var(--text-black-700);
    font-size: 1.15em;
}
.subject{
    grid-column: span 2;
}
.input-box textarea{
    resize: none;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 1.1em;
    border: none;
    color: var(--text-black-700);
    background: rgb(222, 221, 228);
    margin-top: 20px;
    border-radius: 15px;
    width: 100%;
}
.input-box textarea:focus,.input-box input:focus{
    box-shadow: 5px 8px 10px rgba(0, 0, 0, .5);
    transition: all .7s;
}
footer{
    text-align: center;
    background: var(--bg-black-50);
    margin-bottom: 1px;
    margin-top: 10px;
    color: var(--text-black-900);
    border-radius: 30px;
}
@media(max-width:1618px){
    .services-con{
        padding-right: 100px;
        margin-left: 5%;
    }
    .services-con .services-item{
        height: 350px;
        width: 400px;
    }
    
    
    .problem .problem-box .problem-item{
        height:200px ;
        width: 300px;
    }
}
@media(max-width:1436px){
    .services-con{
        padding-right: 100px;
        margin-left: 5%;
    }
    .services-con .services-item{
        height: 300px;
        width: 350px;
    }
    .problem .problem-box .problem-item{
        height:150px ;
        width: 250px;
        font-size: 1em;
    }
}
@media(max-width:1258px){
    .aside{
        width: 200px;
    }
    .aside .logo a span {
        font-size: 1.7em;
        left: -6px;
    }
    .aside .logo a span::before{
        bottom: -10px;
        left: -14px;
    } 
    .aside .logo a span::after{
        top: -6px;
    right: -15px;
    }
    section{
        left: 200px;
    }
    .home .home-info .home-img img{
        height: 350px;
    }
    .home-text p{
        line-height: 25px;
        width: 90%;
        font-size: 18px;
    }
    .home-text h3{
        font-size: 1.8em;
    }
    .about-second .about-form .personal-info{
        gap: 20px;
    }
    .about-second .about-progress .skill-con .porgress .progress-percent{
        font-size: 1.1em;
        top: -24px;
    }
    .about-second .about-progress .skill-con h5{
        font-size: .96em;
    }
    .about-second .about-form {
        flex: 0 0 53%;
        max-width: 53%;
    }
    .about-second .about-progress {
        flex: 0 0 47%;
        max-width: 47%;
       padding-left: 27px;
    }
    .services-con .services-item{
        height: 250px;
        width: 300px;
    }
    .services-con{
        gap: 40px 30px;
    }
}
@media(max-width:1198px){
    section{
        width: 100%;
    }
}
@media(max-width:1000px){
    .main-con{
        width: 115%;
    }
    section{
        width: 100%;
    }
    .aside{
        width: 150px;
    }
    .aside .logo a span {
        font-size: 1.7em;
        left: -6px;
    }
    .aside .logo a span::before{
        bottom: -10px;
        left: -14px;
    } 
    .aside .logo a span::after{
        top: -6px;
    right: -15px;
    }
    section{
        left: 150px;
    }
    .aside ul li a {
        gap: 3px;
        padding: 10px 2px;
        margin-right: 20px;
    }
}

@media(max-width:788px){
    .main-con{
        width: 143%;
    }
}
@media(max-width:642px){
    .main-con{
        width: 155%;
    }
    .aside{
        display: none;
    }
    section{
        left: 0px;
    }
    .services-con{

        grid-template-columns: 1fr 1fr;
        margin-left: 7.5%;
    }
    .services-con .services-item{
        height: 350px;
        width: 450px;
    }
    .projects .projects-imges{
        
        grid-template-columns: repeat(2,1fr);
        /* margin-top: 80px; */
        gap: 10px 20px;
        
    }
    .problem .problem-box{
        gap: 30px;
        grid-template-columns: repeat(2,1fr);
    }
    .problem .problem-box .problem-item{
        height:350px ;
        width: 400px;
        font-size: 1.7em;
    }
}
@media(max-width:500px){
    .main-con{
        width: 183%;
    }
    
    .home .home-info{
        flex-direction: column-reverse;
    }
    .home .home-info .home-text {
        flex: 0 100%;
        max-width: 100%;
        margin-top: 27%;
    }
    .home .home-info .home-img {
        flex: 0  100%;
        position: absolute;
        top: 2px;
        max-width: 100%;
    }
    .home .home-info .home-img img{
        margin-bottom: 30px;
        height: 350px;
    }
    marquee{

        top: 84%;

    }
    .home-text p{
        font-size: 1.4em;
        line-height: 34px;
        color: var(--text-black-700);
    }
    .about-con h3 span{
        font-size: 1.5em;
    }
    .about-con p{
        line-height: 34px;
        font-size: 1.3em;
    }
    .about-second{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .about-second .about-form {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .about-second .about-progress {
        margin-top: 30px;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .services-con{
        display: grid;
        grid-template-columns: 1fr;
    justify-content: center;
align-items: center;
margin-left: 9%;
}
.services-con .services-item{
    height: 440px;
    width: 650px;
}
}
@media(max-width:430px){
    .main-con{
        width: 193%;

    }
    .home-text p{
        font-size: 1.8em;
        width: 100%;
    }

.btn{
    padding: 15px 40px;
    font-size: 2em;
    
}
marquee{
   top: 87.5%;
}
.home .home-info .home-img img{
    width: 100%;
    height: 300px;
}
.home-text h3{
    font-size: 2.5em;
}
.home-text h4 {
    font-size: 2.1em;
}

.about-con h2{
    font-size: 2.9em;
}
.about-con h2 span{
    font-size: 1.7em;
}
.about-con h3{
    font-size: 1.8em;
}
.about-con p{
    font-size: 1.7em;
    line-height: 38px;
    width: 102%;
}
.about-second .about-form .personal-info{
    gap: 20px 50px;
}
.aboutbtn{
    padding: 10px 20px;
    margin-left: 13%;
    font-size: 1.6em;
}
.about-second .form-span{
    font-size: 2.2em;
    margin-left: 30%;
}

.about-second .about-form .personal-info .personal-item p{
    font-size: 1.5em;
}
.about-second .about-form .personal-info .personal-item p span{
    font-size: 1.1em;
}
.about-second .about-progress .skill-con{
    grid-template-columns: 1fr 1fr;
    gap: 80px 180px;
    margin-left: -26%;
    margin-right: 2%;
}
.about-second .about-progress .skill-con .porgress{
    width: 150%;
    height: 20px;
    border: 10px;
}
.about-second .about-progress .skill-con .porgress .progress-percent{
    font-size: 1.8em;
    top: -44px;
}
.about-second .about-progress .skill-con h5{
    font-size: 1.8em;
}
.services{
    margin-top: 5%;
}










}
@media(max-width:430px){
    .main-con{
        width: 210%;
    }
    .services-con .services-item{
        height: 300px;
      width: 700px;
      margin-left: 0%;
    }
    .projects .projects-imges{
        grid-template-columns: 1fr;
        width: 90%;
        margin-left: 4.5%;
    }
    .problem .problem-box .problem-item{
        width: 350px;
        height: 150px;
       
    }
    .problem .problem-box .problem-item span{
        font-size:.9em;
        color: var(--text-black-700);
    }
    .input-grid{
    display: block;
    }
    .input-box input{
        margin-top: 20px;
       height: 60px;
        width: 100%;
    
    }
    .form{
        padding-left: 20px;
        padding-right: 30px;
    }
}
@media(max-width:370px){
    .main-con{
        width: 230%;
    }
}
@media(max-width:330px){
    .main-con{
        width: 255%;
    }
}
@media(max-width:260px){
    .main-con{
        width: 310%;
    }
    
}